{% extends '@IServCrud/Crud/index.html.twig' %}
{% import '@IServCrud/macros.html.twig' as m %}

{% block crud_actions %}
    {% if admin.isAllowedToAdd() %}
        <div class="list-actions">
            {{ m.linkButton(admin.generateUrl('add'), _('Add'), 'plus') }}
            <a class="btn btn-default" data-toggle="toggle" data-target="#import-list" href="{{ path('admin_mailalias_import') }}">{{ icon('upload') }} {{ _('Import') }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block crud_table %}
    <div id="import-list" class="well hidden mb0">
        <div class="alert alert-info">
            {{ admin.getImportExplanation() }}
            {% for text in admin.getImportExplanationFieldList() %}
                <ul>
                    <li>{{ text }}</li>
                </ul>
            {% endfor %}
        </div>
        {{ form(importForm, {'style': 'inline'}) }}
    </div>

    {{ parent() }}
{% endblock %}

{%  block content %}
    {% if displayImportMessages %}
        <div class="alert alert-dismissible alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{  importMessages|nl2br }}
        </div>
    {%  endif %}
    {%  if displayImportWarnings %}
        <div class="alert alert-dismissible alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{  importWarnings|nl2br }}
        </div>
    {%  endif %}

    {{ parent() }}
{%  endblock %}