{# src/Stsbl/MailAliasBundle/Resources/views/Crud/address_edit.html.twig #}
{% extends 'IServCrudBundle:Crud:edit.html.twig' %}
{% import 'StsblJavaScriptLibraryBundle::jquery.initialize.html.twig' as jqi %}

{% block crud_title %}
    <h1>{{ __('Edit %s@%s', item, admin.config.get('Domain0')) }}</h1>
{% endblock crud_title %}

{% block javascripts %}
    {{ parent() }}
    
    {{ jqi.integrate() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => mailaliases_autocomplete.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/mailaliases_autocomplete.js', 'stsbl_mail_alias') }}"></script>
{% endblock %}
